Django == 1.11.29
Twisted == 20.3.0
boto == 2.49.0
bs4 == 0.0.1
colorama == 0.4.4
configparser == 4.0.2
cryptography == 3.3.2
domain == 0.1.4
future == 0.18.2
futures == 3.3.0
html5lib == 1.1
importlib_metadata == 2.1.1
ipaddress == 1.0.23
lxml == 4.6.3
pathlib == 1.0.1
pinject == 0.14.1
pip == 9.0.2
pyOpenSSL == 20.0.1
pywin32 == 228
replace == 2020.12.3
requests == 2.25.1
setuptools == 41.2.0
termcolor == 1.1.0
typing == 3.10.0.0
zipp == 1.2.0
